body {
  background-size: cover;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.box {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 800px;

}

.points{
  height: 100px;
}

.points-joueurs{
  background-color: #fd4857;
  color: #fff;
  width: 50%;
  margin: 0 auto;
  text-align: center;

}



.joueur-score {
  /* height: 300px;
  width: 300px; */
  text-align: center;
  font-size: 80px;
  color: #EB4D4D;
  margin-bottom: 130px;
}

#limiteFinal{
  width: 150px;
  padding-left: 15px;
  
}
input:focus {
  outline-width: 0;
}


.de {
  height: 150px;
  display: block;
  margin: auto;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.40);
  transform: rotate(20deg); 

}
   
.ombre2:hover{
  box-shadow: 8px 10px 5px 5px rgb(163, 162, 162);
  border-style: solid; 
  cursor: pointer;
  border-color: #EB4D4D;
   
  }
.ombre1:hover{
  box-shadow: -8px 10px 5px 5px rgb(163, 162, 162);
  border-style: solid; 
  cursor: pointer;
  border-color: #EB4D4D;
    
  }


